html {
	box-sizing: border-box;
}

a {
    outline: none;
    color: var(--bs-primary);
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
    transition: all .3s ease 0s;
    &:focus {
        color: var(--bs-primary);
        text-decoration: none !important;
    }

    &:hover {
        color: var(--bs-primary);
    }
}

:focus {
    outline: none;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    @include font-size(var(--bs-heading-1, $h1-font-size));
}

h2 {
    @include font-size(var(--bs-heading-2, $h2-font-size));
}

h3 {
    @include font-size(var(--bs-heading-3, $h3-font-size));
}

h4 {
    @include font-size(var(--bs-heading-4, $h4-font-size));
}

h5 {
    @include font-size(var(--bs-heading-5, $h5-font-size));
}

h6 {
    @include font-size(var(--bs-heading-6, $h6-font-size));
}

h1, h2, h3, h4, h5, h6 {
    margin: $headings-margin-bottom 0;
    word-wrap: break-word;
}

p {
	margin: 1em 0;
}

pre {
    font-size: 1rem;
    background: var(--bs-gray-900);
    color: var(--bs-body-color);
    padding: 1em;
    border: .063em solid var(--bs-border-color);
}

/* stylelint-disable */
hr {
	background-color: var(--bs-border-color);
	border: 0;
	height: 0.063em;
	margin: 0;
	padding: 0;
}

/* stylelint-enable */

ul {
	padding-left: 1.563em;
	margin-bottom: 1em;
}
ol {
	padding-left: 1.563em;
	margin-bottom: 1em;
    ol {
        padding-left: 1.563em;
    }
}


/* Definition Lists */
dd {
	margin: 0 1.5em 1.5em;
}

dl {
    dd {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

li {
    >ul {
        margin-bottom: 0;
    }
    > ol {
        margin-bottom: 0;
    }
}

dt {
	font-weight: 700;
}

// selection
::selection { 
    background: var(--bs-primary); 
    color: var(--bs-white); 
    text-shadow: none; 
}


::-webkit-scrollbar {
    width: 0.625em;
    height: 0.3em;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--bs-border-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bs-body-color); 
}


@include media-breakpoint-down(md) {
    h1{
        font-size: 3.209em
    }  
    h2 {
        font-size: 2.157em;
    }
    h3 {
        font-size:  1.777em;
    }
    h4 {
        font-size:  1.333em;
    }
    h5 {
        font-size:  1.1em;
    }
}

@include media-breakpoint-down(sm) {
    h1{
        font-size: 2.119em;
    }  
    h2 {
        font-size: 1.89em;
    }
    h3 {
        font-size:  1.33em;
    }
    h4 {
        font-size:  1.21em;
    }
    h5 {
        font-size:  1.1em;
    }

}